header {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.nav-links {
  z-index: 1;
}

@media screen and (max-width:767px) {
  .nav-links {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
}
